/* Style sheet for DESI KATTA  */

body {
    	background-color: aqua; 
    	background-attachment: scroll; 
    	font-family: 'PT Sans', Arial, sans-serif;
}

header {
  background-color: #FDF3E7; 
  text-align: center;
  border-radius: 35px 2px 35px 2px;
  height: 100px;
  font-size: 30px;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
}

nav {
  /*element background color*/
  background-color:lime; ;
  /*rounded edges*/
  border-radius: 20px 5px 20px 5px;
  font-size: 50%;
  /*align center*/
  margin-left:auto;
  margin-right:auto;
}

article {
  font-size: 10px;
  height: 600px;
  background-color: #FDF3E7;
  border-radius: 35px 2px 35px 2px;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

section {
  position: relative; /*place it relative to its original position*/
  /*background-color: #e5e5e5;*/
  height:95%;
  width:95%;
  margin-left:auto;
  margin-right:auto;
  top:10px;
  
  border-radius: 20px 5px 20px 5px;
}

footer{
  background-color: #FDF3E7;
  border-radius: 35px 2px 35px 2px;
  height: 50px;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
  margin-bottom: 20px;
}

#phoneNumber{
  float:right;
}

.siteName{
  color: #3B3738;    /* dark gray */
} 

#siteMainName{
  text-shadow: 1px 1px 1px #3B3738, 
               3px 3px 5px #CC5027; /*span is inline*/
}

.navigationList {
  color: red;
}

h3, h4, h5,td{
  color: #7E8F7C;  /* light gray */
}

.resNote, th {
  font-size: 13px;
  color: #3B3738;    /* dark gray */
}

a:hover {
  color: #FFFFFF;
}

.webLinksLogin {
  float:right;
  
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  color: #3B3738;
  
  display: block;
  background-color: #7E8F7C;
  border-radius: 10px 5px 10px 5px; /*curve the edges of block*/
  padding: 5px; /*distn betn content adn border*/
  box-shadow: 0px 2px 3px 0px;
  margin-right: 10px;
  margin-top: 5px; /*shift the element 5px from top*/
}

.navigationList li {
  float: left;  /*arrange elements side by side*/
  list-style-type:none; /*remove numbers or bullets*/
}

.navOption {
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  color: #3B3738;
  
  display: block;
  width: auto; /*takes as per the content*/
  background-color: #7E8F7C;
  border-radius: 10px 5px 10px 5px; /*curve the edges of block*/
  padding: 5px; /*distn betn content adn border*/
  box-shadow: 0px 2px 3px 0px;
  margin-right: 30px;
  margin-bottom: 5px; /*shift the element 5px from top*/
}

#contentDetails{
  
  position: relative; /*place it relative to its original position*/
  /*background-color: red;*/
  height:95%;
  width:95%;
  margin-left:auto;
  margin-right:auto;
  top:10px;
}

.reservationContent {
  	overflow-y:auto;  
    height:80%;
    margin-top: 20px;
}

.reservationTable{
	overflow-y:auto; 
  	width:95%;
  	text-align:center;
  	font-size: 13px;
  	margin: 5px 5px 5px 5px;
  	/*increase distance between table data*/
  	border-collapse:separate;
  	border-spacing: 20px;  
}

.searchReservation{
  float: left;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  color: #3B3738;

  display: block;
  width: auto; /*takes as per the content*/
  background-color: #7E8F7C;
  border-radius: 10px 5px 10px 5px; /*curve the edges of block*/
  padding: 5px;
  box-shadow: 0px 2px 3px 0px;
  margin-right: 10px;

}

.searchById{
  font-size: 13px;
}

.reservationDetails{
  float: right;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
  color: #3B3738;

  display: block;
  width: auto; /*takes as per the content*/
  background-color: #7E8F7C;
  border-radius: 10px 5px 10px 5px; /*curve the edges of block*/
  padding: 5px;
  box-shadow: 0px 2px 3px 0px;
  margin-right: 5px;
  margin-top: 25px;

}

.searchById {
  height: 20px;
  width:70%;
}

.footerInfo{
  position: relative;
  top:15px;
  left:10px;
  font-size: 13px;
  color:#3B3738;
}

/* user message */

.messageForm input{
  margin-top: 20px;
}

.messageTable label {
  color: #3B3738;
  font-size: 13px;
}

.messageTable input{
  width: 40%;
}

.messageTable {
  width:60%;
  text-align:left;
  font-size: 13px;
  
}


#reservationTextMsg{
  float:left; 
}

/* menu *//* 
.menuDesiKatta{
  text-align: center;
  color:#3B3738;
} */

.menuContent{
  overflow-y:auto;
  height:80%;
  margin-top: 10px;
  margin-left: auto; /*place it in center of div*/
  margin-right: auto;
  font-size:13px;
  text-align: center;
} 

.menuTable{
  margin-left: auto; /*place it in center of div*/
  margin-right: auto;
}



/*guest login*/
.guestReservation{
    height:70%;
    margin-top: 20px;
}

.guestReservation li{
  display:block;
  margin: 8px 8px 8px 8px;
}

.guestReservation ul{
  width: 20%;
  font-size: 13px;
  color:#3B3738;
  margin-left: auto; /*place it in center of div*/
  margin-right: auto;
  list-style-type: none;
}

.guestData{
  box-shadow: 0px 0px 0px 0px;
}

.guestData:hover{
  box-shadow: 1px 1px 4px 1px;
}

/* login options */
.userLoginOptions li{
  display:block;
  height:70%;
  width: auto;
  margin-top: 10px;
}

.userLoginOptions ul{
  margin-left: auto; /*place it in center of div*/
  margin-right: auto;
  list-style-type: none;
  float:left;
}

.ownerLogin li{
  display:block;
  height:40%;
  width: auto;
  margin-top: 10px;
}

.ownerLogin ul{
  margin-left: auto; /*place it in center of div*/
  margin-right: auto;
  font-size: 13px;
  list-style-type: none;
  float:left;
}

.formErrorMessage{
 color: red; 
 font-size: 10px;
}

.homeGalleryInfo{
  width: 100%;
  height: 100%;
}

.galleryHolder{
  border-style: solid;
  border-color: #7E8F7C;
  border-radius: 20px 5px 20px 5px;
  margin-left: auto; /*place it in center of div*/
  margin-right: auto;
  height:70%;
  width: 70%;
}

.galleryImage{
  border-radius: 20px 5px 20px 5px;
  height:100%;
  width: 100%;
}



/* seat reservation start  */

.content {
  text-align: center;
}

.seatLayout {
  margin: 30px auto;
  width: 60%;
}

.seat {
  cursor: pointer;
}

.buttons {
  margin: 30px auto;
}

.legend img{
  vertical-align: bottom;
}


/* seat reservati end  */


/* Menu display */
#tree1 {
	width: 100%;
	font-size: 13px;
}


